body{
  background-color: gray;
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
}

.app_name{
  text-align: center;
  color: #fff;
  margin-top:10px;
}

.app_desc{
  text-align: center;
  color: teal;
}

.center-align{
  text-align: center;
}

.app_logo{
  height: 150px;
}

.login_input{
  margin-top: 20px;
}

